@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@theme{
  --font-dancing:Dancing Script;
}

@import "tailwindcss";
@tailwind utilities;


.Nav-Link {
  @apply font-bold block  flex gap-x-5;
}
.btn {
  @apply bg-[#FF6B81] text-[#FFF9F3] hidden sm:block px-4 py-2.5 rounded-[5px] hover:bg-[#e65a70] hover:text-[#FFF9F3];
}
.icon-btn {
  @apply text-4xl text-red-600 rounded-[3px] px-3 py-1 ;
}
.show-menu {
  @apply left-0;
}
